/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of CSS */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid red;
  height: 99vh;
  background-color: black;
  background-image: url('../assets/green.png');
  color:  #F9F871;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

}
.board {
  display: flex;
  width: 100%;
  height: 100vh;
}
.counters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 2px solid pink;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 23%;
}
.playing-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  flex-basis: 0;
  height: 100vh;
  border: 2px solid yellow;
  max-width: 53%;
}
.Bets{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  height: 100vh;
  border: 2px solid yellow;
  max-width: 23%;
}

.Player {
  padding: 1em;
}
.Dealer {
  padding: 1em;
}
.player-controls {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}
.player-actions {
  margin-top: 2em;
}
.player-hand p{
  padding: 1em;
}
.dealer-hand p{
  padding: 1em;
}
.action-message{
  font-size: 1.5em;
  font-weight: bold;
}

.holedHand img:nth-of-type(2) {
  width: 14em;
  transition: opacity 0.2s ease-in-out;
  align-self: flex-start;
}
.dealer-cards-display {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.button{
  width: 10em;
  height: 4em;
  cursor: pointer;
  margin: 0.5em;
  background-color: #F9F871;
  box-shadow: #223023 2px 2px 2px 2px;
  border-color: #F9F871;
  border-style: solid;
  border-radius: 3px;
  font-weight: bold;
  font-size: .8em;
}